:root {
	--bg-bubble-color: #b0aeae;
	--bg-secondary-color: #000000;
	--font-color: #000000;
	--reverse-font-color: #ffffff;
	--body-bg-color: #ffffff;
	--border-color: red;
	--body-tipo-letra: 'Arial';
	--bubble-tipo-letra: 'Lucida Sans';
	--bg-options: #93a5c1;
}

[tema='oscuro'] {
	--bg-bubble-color: #4f5151;
	--bg-secondary-color: #ffffff;
	--font-color: #ffffff;
	--reverse-font-color: #000000;
	--body-bg-color: #000000;
	--border-color: #00ffff;
	--bg-options: #6c5a3e;
}

[letra='alternativa'] {
	--body-tipo-letra: 'Consolas';
	--bubble-tipo-letra: 'Consolas';
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--body-tipo-letra);
	color: var(--font-color);
}

body {
	background-color: var(--body-bg-color);
}

.bubble_comment_right {
	position: relative;
	width: 150px;
	height: auto;
	box-sizing: content-box;
	border-radius: 8px;
	font-family: var(--bubble-tipo-letra);
	font-size: xx-small;
	background-color: var(--bg-bubble-color);
	padding: 10px;
	min-height: 50px;
	box-shadow: 2px 2px 5px var(--bg-secondary-color);
	margin-left: 200px;
	word-wrap: break-word;
}

.bubble_comment_right:after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	top: 50%;
	right: 5px;
	width: 11px;
	height: 11px;
	transform: translate(100%, -50%) rotate(45deg);
	background-color: var(--bg-bubble-color);
	border-right: solid 1px var(--bg-secondary-color);
}

.bubble_comment_right:hover:after {
	animation: 1s linear 0s 1 slideArrowUpDown;
}

.bubble_comment_right:hover {
	cursor: pointer;
}

@keyframes slideArrowUpDown {
	0% {
		top: 50%;
	}
	50% {
		top: 84%;
	}
	100% {
		top: 50%;
	}
}

.bubble_comment_left {
	position: relative;
	width: 150px;
	height: auto;
	box-sizing: content-box;
	border-radius: 8px;
	font-family: var(--body-tipo-letra);
	font-size: xx-small;
	background-color: var(--bg-bubble-color);
	padding: 10px;
	min-height: 50px;
	box-shadow: 2px 2px 5px var(--bg-secondary-color);
	margin-left: 200px;
	word-wrap: break-word;
}

.bubble_comment_left:after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	top: 50%;
	left: -5px;
	width: 11px;
	height: 11px;
	transform: translate(0%, -50%) rotate(45deg);
	background-color: var(--bg-bubble-color);
}

.bubble_comment_left:hover:after {
	animation: 1s linear 0s 1 slideArrowUpDown;
}

.bubble_comment_left:hover {
	cursor: pointer;
}

.bubble_comment_top {
	position: relative;
	width: 150px;
	height: auto;
	box-sizing: content-box;
	border-radius: 8px;
	font-family: var(--body-tipo-letra);
	font-size: xx-small;
	background-color: var(--bg-bubble-color);
	padding: 10px;
	min-height: 50px;
	box-shadow: 2px 2px 5px var(--bg-secondary-color);
	margin-left: 200px;
	word-wrap: break-word;
}

.bubble_comment_top:after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	top: -5px;
	left: 50%;
	width: 11px;
	height: 11px;
	transform: translate(-50%, 0%) rotate(45deg);
	background-color: var(--bg-bubble-color);
}

.bubble_comment_top:hover:after {
	animation: 1s linear 0s 1 slideArrowLeftRight;
}

.bubble_comment_top:hover {
	cursor: pointer;
}

.bubble_comment_bottom {
	position: relative;
	width: 150px;
	height: auto;
	box-sizing: content-box;
	border-radius: 8px;
	font-family: var(--body-tipo-letra);
	font-size: xx-small;
	background-color: var(--bg-bubble-color);
	padding: 10px;
	min-height: 50px;
	box-shadow: 2px 2px 5px var(--bg-secondary-color);
	margin-left: 200px;
	word-wrap: break-word;
}

.bubble_comment_bottom:after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 11px;
	height: 11px;
	transform: translate(-50%, 0%) rotate(45deg);
	background-color: var(--bg-bubble-color);
	border-right: solid 1px var(--bg-secondary-color);
}

.bubble_comment_bottom:hover:after {
	animation: 1s linear 0s 1 slideArrowLeftRight;
}

.bubble_comment_bottom:hover {
	cursor: pointer;
}

@keyframes slideArrowLeftRight {
	0% {
		left: 50%;
	}

	50% {
		left: 84%;
	}

	100% {
		left: 50%;
	}
}

.texto {
	width: 300px;
	height: 20px;
	border: solid 2px var(--bg-secondary-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 100px;
	border-radius: 5px;
}

.texto:hover {
	background-color: var(--bg-secondary-color);
	color: var(--reverse-font-color);
}

.texto:hover b {
	color: var(--reverse-font-color);
}

.resaltar {
	background-color: var(--bg-secondary-color);
	color: var(--reverse-font-color);
}

.resaltar b {
	color: var(--reverse-font-color);
}

.invisible {
	display: none;
}

.visible {
	display: block;
}

.oculto {
	visibility: hidden;
}

.bubble_comment_left2 {
	position: relative;
	width: 150px;
	height: auto;
	box-sizing: content-box;
	border-radius: 8px;
	font-family: var(--body-tipo-letra);
	font-size: xx-small;
	background-color: var(--bg-bubble-color);
	padding: 10px;
	min-height: 50px;
	box-shadow: 2px 2px 5px var(--bg-secondary-color);
	margin-left: 6px;
	word-wrap: break-word;
}

.bubble_comment_left2:after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	top: 50%;
	left: -5px;
	width: 11px;
	height: 11px;
	transform: translate(0%, -50%) rotate(45deg);
	background-color: var(--bg-bubble-color);
}

.contenedor {
	display: flex;
	align-items: center;
	height: auto;
	position: relative;
	border: dotted 1px var(--border-color);
}

.bubble_comment_left3 {
	position: relative;
	width: 150px;
	height: auto;
	box-sizing: content-box;
	border-radius: 8px;
	font-family: var(--body-tipo-letra);
	font-size: xx-small;
	background-color: var(--bg-bubble-color);
	padding: 10px;
	min-height: 50px;
	box-shadow: 2px 2px 5px var(--bg-secondary-color);
	word-wrap: break-word;
	margin-left: 410px;
	margin-top: -10px;
	transform: translateY(-50%);
}

.ampliar_bubble_text {
	font-size: medium;
	width: 300px;
}

.bubble_comment_left3:after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	top: 50%;
	left: -5px;
	width: 11px;
	height: 11px;
	transform: translate(0%, -50%) rotate(45deg);
	background-color: var(--bg-bubble-color);
}

/*.bubble_comment_left3:hover:after {
        animation: 1s linear 0s 1 slideArrowUpDown;
    }*/

/*.bubble_comment_left3:start:after {
	animation: 1s linear 0s 1 slideArrowUpDown;
}*/

/*.bubble_comment_left3:hover {
        cursor: pointer;
    }*/

.contenedor_comentario {
	height: 0;
	margin-bottom: 50px;
}

.closeButton {
	position: relative;
	background-color: var(--bg-bubble-color);
	text-align: right;
	border-bottom: 1px solid var(--bg-secondary-color);
	padding-bottom: 1px;
	margin-bottom: 2px;
	font-weight: bold;
}

.closeButton:hover {
	cursor: pointer;
}

.theme-switch-wrapper {
	position: absolute;
	margin-right: 10px;
	top: 10px;
	right: 0%;
	display: flex;
	align-items: center;
	background-color: var(--bg-options);
	border-radius: 15px;
	padding: 5px 10px;
}

.theme-switch-wrapper span {
	margin-left: 5px;
	font-size: small;
	font-weight: bold;
}

.theme-switch-wrapper span:hover {
	cursor: pointer;
}

.theme-switch {
	display: inline-block;
	height: 11px;
	position: relative;
	width: 20px;
}

.theme-switch:not(:first-child) {
	margin-left: 10px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: #fff;
	bottom: 2px;
	content: '';
	height: 7px;
	left: 2px;
	position: absolute;
	transition: 0.4s;
	width: 7px;
}

input:checked + .slider {
	background-color: #66bb6a;
}

input:checked + .slider:before {
	transform: translateX(9px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#modo, #idioma {
    position: absolute;
    background-color: var(--body-bg-color);
    border: 3px solid var(--bg-secondary-color);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--bg-secondary-color);
}

#modo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#idioma {
    top: 5%;
    left: 50%;
}

.idioma {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.idioma:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: var(--font-color);
        color: var(--body-bg-color);
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: xx-small;
        font-weight: 100;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }